<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="rabbitmq-cordova-client"
    version="1.0.0">
    <name>RabbitMQ cordova client</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>

	<engines>
        <engine name="cordova" version=">=4.0.0" />
	</engines>	

	<!-- android -->
    <platform name="android">

        <js-module src="www/notification.js" name="Push">
            <runs/>
            <clobbers target="Push" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Push">
                <param name="android-package" value="org.amqp.notification.Push" />
            </feature>
        </config-file>

        <lib-file src="src/amqp/lib/amqp-client.jar" />
        
        <source-file src="src/amqp/com/Push.java" target-dir="src/com/amqp/com/" />
        <source-file src="src/amqp/com/NotificationService.java" target-dir="src/amqp/com/" />
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="org.amqp.notification.NotificationService"></service>
        </config-file>
    </platform>
</plugin>
